<h5>Top 10 oldest men</h5>
<table class="table table-hover table-responsive table-sm ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Birth date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of oldestUsers; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user?.name?.first}}</td>
        <td>{{user?.name?.last}}</td>
        <td>{{user?.dob?.date | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!oldestUsers" class="mr-bottom">
    <p>Click button below to fill table with data</p>
  </div>
