.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: lightsalmon;
    padding: 30px;
}

.text-block {
    border: 2px solid red;
    width: 800px;
}

.main-content {
    border: 2px solid red;
    height: 300px;
}
