<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <small>Created by <strong>Szymon Tkacz</strong></small>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 app-container"> 
      <h1>Welcome</h1>
      <p>This is a simple application which use <a href="https://randomuser.me/">https://randomuser.me/</a> API to load data. </p>
      <p>When you click this green button below, application will fetch data and fill table with top 10 oldest people from all 1000 random french men and will make a chart with age ranking of all men.</p>
      <hr>
      <div class="loading-screen" *ngIf="isLoading | async">
        <app-loader></app-loader>
      </div>
      <div class="main-content" [ngClass]="usersData ? 'overflow-auto' : 'overflow-hidden'">        
        <app-table [oldestUsers]="oldestUsers"></app-table>
        <app-chart></app-chart>        
      </div>
      <hr>      
      <button class="btn btn-success" (click)="getUsers()">Get random users data</button>
      <div class="bottom-paragraphs" [ngClass]="{'yellow-background': fifthRefresh == true}">
        <p>And this is bottom content. This content is a little bit specific.</p>
        <p>Why this content is specyfic? Because in each fifth refresh of this page this content becomes YELLOW.</p>
        <p>You can ask me why did I do this content yellow in every fifth refresh? Because I can. Thank you and have a good day</p>
      </div>      
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>
