.app-container {
    min-width: 500px;
    position: relative;
}

.main-content {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    height: 550px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.overflow-auto {
    overflow: auto; 
}

.overflow-hidden {
    overflow: hidden;
}

button {
    margin-bottom: 20px;
}

small {
    font-size: 11px;
}

.loading-screen {
    position: absolute;
    height: 550px;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    width: calc(100% - 24px);
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}